html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #242424; /* full-page background */
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
}

.card {
  background: #333;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 600px;
  width: 90%;
}
